.ModuleResult{
    width: 40%;
    text-align: left;
    margin: 2em;
    border-bottom: 2px solid black;
    padding: 2em 0;
}
.ModuleResult_columns,
.ModuleResult_Inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ModuleResult_columns p{
    font-weight: bold;
}